:root {
  --bg: #c8f3f8;
  --header-bg: #011c40;
  --text: #5cbbd1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}

body {
  font-family: varela;
  background: var(--bg);
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* 
==========
  HEADER
==========
*/
.header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
}

.header-title {
  font-size: 2rem;
  color: var(--text);
}

.search-container {
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.search-input {
  border: 1.2px solid var(--text);
  border-radius: 10px;
  width: 50%;
  height: 2rem;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  color: white;
}

.search-btn {
  color: white;
  background-color: var(--text);
  width: 3.5rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.fa-search {
  font-size: 1rem;
}

.main {
}

.images-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.error-message {
  display: none;
  font-size: 2rem;
  color: var(--header-bg);
  text-align: center;
  margin-top: 4rem;
  padding: 0 3rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.image-item {
  overflow: hidden;
  border-radius: 5px;
  height: 42rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image:hover {
  scale: 1.05;
  filter: contrast(1.3);
}

.loading-img {
  display: block;
  width: 10rem;
  margin: 8rem auto;
}

.not-found-img {
  display: none;
  width: 10rem;
  margin: 8rem auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.page-btn {
  background-color: white;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  color: var(--text);
  border-radius: 3px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.page-btn:hover {
  background-color: var(--text);
  color: white;
}

.active {
  background-color: var(--text);
  color: white;
}

/* 
===========
  FOOTER
==========
*/
.footer {
  text-align: center;
  padding-top: 5rem;
}

.footer-text {
  font-size: 1.5rem;
  color: #26658c;
  padding-bottom: 1rem;
}

.footer-text a {
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  color: #023859;
}

.footer-text a:hover {
  transform: scale(1.02);
}

/* 
==============
  Responsive
==============
*/

/* ====== 480px ====== */

@media (min-width: 480px) {
  /* header */
  .header-title {
    font-size: 2.5rem;
  }
  .search-input {
    width: 40%;
    height: 2.5rem;
    border-radius: 50px;
  }
  .search-btn {
    width: 4rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50px;
  }
}

/* ====== 576px ====== */
@media (min-width: 576px) {
}

/* ====== 768px ====== */
@media (min-width: 758px) {
  .pagination {
    gap: 0.8rem;
  }
  .page-btn {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 3px;
    font-size: 1.5rem;
  }
}

/* ====== 992px ====== */
@media (min-width: 992px) {
  /* header */
  .header-title {
    font-size: 3rem;
  }
  .search-input {
    width: 30%;
    height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  .search-btn {
    width: 4.5rem;
    height: 3rem;
    padding: 0.8rem;
    border-radius: 50px;
  }

  .fa-search {
    font-size: 1.3rem;
  }
}

/* ====== 1200px ====== */
@media (min-width: 1200px) {
}
